<div class="quien-soy-container">
    <button (click)="volverAHome()" class="btn-volver">Volver</button>
    <h1>Mi nombre es Félix Castelli</h1>
    <p>
      Soy un estudiante de la UTN de Avellaneda en la Tecnicatura Universitaria de Programación.<br>
      Este es mi proyecto de "Sala de Juegos" para la materia Laboratorio IV.<br>
      El juego personal que voy a hacer es 4 Fotos 1 Palabra.
    </p>
    <img src="https://firebasestorage.googleapis.com/v0/b/sala-de-juegos-59d90.appspot.com/o/yo.jpg?alt=media&token=d19649ff-8e96-4c4d-9142-8c4880ab21a6" 
    alt="yo" class="mi-imagen">
  </div>
  