<div class="quien-soy-container">
    <button (click)="volverAHome()" class="btn-volver">Volver</button>
    <h1>Mi nombre es Félix Castelli</h1>
    <p>
      Soy estudiante de la UTN de Avellaneda, cursando la Tecnicatura Universitaria en Programación. 
      Este es mi proyecto titulado "Sala de Juegos" para la materia Laboratorio IV. Mi juego se llama "4 Fotos 1 Palabra".
      <br><br>
      En "4 Fotos 1 Palabra", como su nombre indica, se presentan cuatro imágenes que están relacionadas con una única palabra. 
      El objetivo del juego es adivinar esa palabra basándote en las fotos que se muestran. 
      Tenes un máximo de seis intentos para adivinar cada palabra. 
      Por cada respuesta correcta, sumas un punto a tu puntuación.
      <br><br>
      Si agotas tus seis intentos sin adivinar la palabra, perdés y tu puntuación se mantendrá hasta ese momento. 
      Hay un total de diez palabras disponibles para jugar, y su orden es aleatorio, lo que garantiza que cada partida sea única y entretenida.
      <br><br>
      Al finalizar el juego, vas a poder ver una tabla de rankings que va a mostrar las puntuaciones de todos los jugadores, 
      permitiéndote comparar tu desempeño con el de los demás.
    </p>
    <img src="https://firebasestorage.googleapis.com/v0/b/sala-de-juegos-59d90.appspot.com/o/yo.jpg?alt=media&token=d19649ff-8e96-4c4d-9142-8c4880ab21a6" 
    alt="yo" class="mi-imagen">
  </div>
  