<div class="home-container">
  <div class="header">
    <div class="button-container">
      <button (click)="irAQuienSoy()" class="btn-quien-soy">Quien Soy</button>
    </div>

    <div class="user-info" *ngIf="usuario; else loginButton">
      <span class="user-email">{{ usuario?.email }}</span>
      <button (click)="logOut()" class="btn-log-out">Log Out</button>
    </div>

    <ng-template #loginButton>
      <button (click)="irALogIn()" class="btn-log-in">Log In</button>
    </ng-template>
  </div>

  <div class="alert-message" *ngIf="!usuario && mostrarMensaje">
    Necesitas estar logeado para jugar
  </div>

  <button *ngIf="usuario" (click)="toggleChat()" class="btn-chat" [ngClass]="{'btn-cerrar-chat': chatAbierto}">
    {{ chatAbierto ? 'Cerrar Chat' : 'Chat' }}
  </button>

  <div *ngIf="chatAbierto && usuario" class="chat-box">
    <div id="chatBox" class="mensajes" style="overflow-y: auto; height: 300px;">
      <div *ngFor="let msj of mensajes" 
           [ngClass]="{ 'mensaje-usuario': msj.emisor === usuario?.email, 'mensaje-otros': msj.emisor !== usuario?.email }">
        <strong>{{ msj.emisor }}</strong>
        <small>{{ msj.hora }}</small>
        <span>{{ msj.texto }}</span>
      </div>
    </div>
    <input 
    [(ngModel)]="mensajeNuevo" 
    placeholder="Escribe un mensaje..." 
    (keydown.enter)="enviarMensaje()" />
  <button (click)="enviarMensaje()">→</button>
  </div>

  <div class="juegos-container">
    <div class="item-juego">
      <h2>Ahorcado</h2>
      <img src="https://firebasestorage.googleapis.com/v0/b/sala-de-juegos-59d90.appspot.com/o/el-ahorcado.jpg?alt=media&token=9d6a53da-fb76-42cb-8b32-846e8c883391" 
           alt="Ahorcado" class="ahorcado-imagen" (click)="irAAhorcado()">
    </div>
    <div class="item-juego">
      <h2>Mayor o Menor</h2>
      <img src="https://firebasestorage.googleapis.com/v0/b/sala-de-juegos-59d90.appspot.com/o/Baraja_espa%C3%B1ola_completa.png?alt=media&token=7097f792-b827-41ac-b638-23c6697aa5c6"
           alt="Mayor Menor" class="mayor-menor-imagen" (click)="irAMayorOMenor()">
    </div>
    <div class="item-juego">
      <h2>4 Fotos 1 Palabra</h2>
      <img src="https://firebasestorage.googleapis.com/v0/b/sala-de-juegos-59d90.appspot.com/o/4-Fotos-1-Palabra-logo.png?alt=media&token=e8475bde-aa4c-4f7e-a2e1-88749f6e070d"
           alt="cuatro-fotos-una-palabra" class="cuatro-fotos-una-palabra-imagen" (click)="irACuatroFotosUnaPalabra()">
    </div>    
    <div class="item-juego">
      <h2>Preguntados</h2>
      <img src="https://firebasestorage.googleapis.com/v0/b/sala-de-juegos-59d90.appspot.com/o/preguntados-logo.jpg?alt=media&token=7bc44ea0-c740-4709-ac04-d81133be79a5"
           alt="Preguntados" class="preguntados-imagen" (click)="irAPreguntados()">
    </div>
  </div>
</div>
