<div class="home-container">
  <div class="header">
    <div class="button-container">
      <button (click)="irAQuienSoy()" class="btn-quien-soy">Quien Soy</button>
    </div>

    <div class="user-info" *ngIf="usuario; else loginButton">
      <span class="user-email">{{ usuario?.email }}</span>
      <button (click)="logOut()" class="btn-log-out">Log Out</button>
    </div>

    <ng-template #loginButton>
      <button (click)="irALogIn()" class="btn-log-in">Log In</button>
    </ng-template>
  </div>

  <div class="alert-message" *ngIf="!usuario && mostrarMensaje">
    Necesitas estar logeado para jugar
  </div>

  <button *ngIf="usuario" (click)="toggleChat()" class="btn-chat" [ngClass]="{'btn-cerrar-chat': chatAbierto}">
    {{ chatAbierto ? 'Cerrar Chat' : 'Chat' }}
  </button>

  <div *ngIf="chatAbierto && usuario" class="chat-box">
    <div class="mensajes" style="overflow-y: auto; height: 300px;">
      <div *ngFor="let msj of mensajes">
        <strong>{{ msj.emisor }}</strong> 
        <small>{{ msj.timestamp | date: 'short' }}</small>
        <span>{{ msj.texto }}</span>
      </div>
    </div>
    <input [(ngModel)]="mensajeNuevo" placeholder="Escribe un mensaje..." />
    <button (click)="enviarMensaje()">→</button>
  </div>

  <div class="juegos-container">
    <h2>Ahorcado</h2>
    <img src="https://firebasestorage.googleapis.com/v0/b/sala-de-juegos-59d90.appspot.com/o/el-ahorcado.jpg?alt=media&token=9d6a53da-fb76-42cb-8b32-846e8c883391" 
         alt="Ahorcado" class="ahorcado-imagen" (click)="irAAhorcado()">
  </div>
</div>
