<div class="mayor-o-menor-container">
    <button (click)="volverAlHome()" class="btn-volver">←</button>
    <h1>Mayor o Menor</h1>

    <div *ngIf="!juegoIniciado" class="inicio-juego">
        <h2>¿Estás listo para jugar?</h2>

        <div class="image-container">
            <img src="https://firebasestorage.googleapis.com/v0/b/sala-de-juegos-59d90.appspot.com/o/Baraja_espa%C3%B1ola_completa.png?alt=media&token=7097f792-b827-41ac-b638-23c6697aa5c6" 
            alt="Mayor-o-Menor" class="mayor-o-menor-imagen">
        </div>

        <p class="explicacion-juego">
            Tenes que adivinar si la siguiente carta es mayor o menor a la que tenes en el momento.
            <br><br>
            Hay 50 cartas y vas sumando puntos en base a si acertas que es mayor o menor.
            <br><br>
            Si no acertas perdes puntos ¡Cuidado que podes quedar en puntos negativos!.
            <br><br>
            Cuando termines el mazo, el puntaje final será el que va a ir al ranking.
        </p>

        <div class="modal-buttons">
            <button (click)="iniciarJuego()" class="btn-si">Sí</button>
            <button (click)="volverAlHome()" class="btn-volver">Volver</button>
        </div>
    </div>

    <div *ngIf="juegoIniciado">
        <div class="cartas-container">
            <div class="display-cartas">
                <h3>Carta Actual:</h3>
                <img *ngIf="cartaActual" [src]="cartaActual.src" alt="Carta actual" class="carta">
            </div>

            <div class="puntaje">
                <h2>Tu Puntuación: {{ puntos }}</h2>
            </div>

            <div *ngIf="!partidaTerminada" class="proxima-carta-container">
                <h3>Próxima Carta:</h3>
                <div class="cartas">
                    <img [src]="cartaEscondida" alt="Carta dada vuelta" class="carta carta-escondida">
                </div>
            </div>

            <div *ngIf="partidaTerminada" class="proxima-carta-container">
                <div class="cartas">
                    <img *ngIf="proximaCarta" [src]="proximaCarta.src" alt="Siguiente Carta" class="carta">
                </div>
            </div>
        </div>

        <div class="botones-adivinar">
            <h3 *ngIf="!partidaTerminada">La próxima carta es...</h3>
            <button (click)="adivinaMayor()" 
                    [disabled]="partidaTerminada" 
                    class="btn-mayor">Mayor</button>
            <button (click)="adivinaMenor()" 
                    [disabled]="partidaTerminada" 
                    class="btn-menor">Menor</button>
        </div>

        <div *ngIf="partidaTerminada" class="partida-terminada">
            <h2>¡Terminaste la partida!</h2>
            <button (click)="reiniciarJuego()" class="btn-si">Jugar de nuevo</button>
        </div>
    </div>
</div>
